:root{
    --primary-color: #1876f2;
    --nav-height:52px;
    --text-color: #626262;

    --body-color: #efefef;    
    --nav-bgcolor: #1876f2;
    --bgwhite-color: #fff;
}

.dark-theme{
    --body-color: #0a0a0a;    
    --nav-bgcolor: #000;
    --bgwhite-color: #000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: var(--body-color);
    transition: background 0.6s;
}


